# macOS
.DS_Store

# Xcode
DerivedData*/
TestResults/
ValidationMedia/
*.xcresult
*.xcuserstate
xcuserdata/

# Node extension dependencies
node_modules/

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/
